@import './globalStyles/colors';

.App {
  text-align: center;
  letter-spacing: 1.5px;
  color: $bodyTextGrey;

  &.hidden {
    overflow-y: hidden;

  }

  &.showing {
    overflow-y: scroll;

  }
}

.App-header {
  h1 {
    text-transform: capitalize;
  }
}

button {
  justify-content: center;
  background: transparent;
  cursor: pointer;
  border: none;
}

.solid-hr {
  background-color: rgba(4, 47, 89, .10);
  height: 4px;
  margin-top: 50px;
  display: block;
}